<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travel.lpz.article.mapper.StrategyMapper">

    <resultMap id="BaseResultMap" type="com.travel.lpz.article.domain.Strategy">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
    </resultMap>

    <resultMap id="CatalogGroupMap" type="com.travel.lpz.article.domain.StrategyCatalog">
        <id property="id" column="catalog_id"/>
        <result property="name" column="catalog_name"/>
        <collection property="strategies" columnPrefix="sc_" resultMap="BaseResultMap"/>
    </resultMap>
    <select id="selectGroupsByDestId" resultMap="CatalogGroupMap">
        SELECT t.catalog_id,
               t.catalog_name,
               s.id    sc_id,
               s.title s_title
        FROM (
                 SELECT catalog_id,catalog_name
                 FROM strategy
                 where dest_id = #{destId}
                 GROUP BY catalog_id,
                          catalog_name
             ) t
                 JOIN strategy s ON t.catalog_id = s.catalog_id
    </select>
    <select id="selectDestCondition" resultType="com.travel.lpz.article.vo.StrategyCondition">
        SELECT dest_id  refid, dest_name name ,COUNT(*) total
        FROM strategy
        WHERE isabroad = #{abroad}
        GROUP BY dest_id,dest_name
        ORDER BY total desc
    </select>
    <select id="selectThemeCondition" resultType="com.travel.lpz.article.vo.StrategyCondition">
        SELECT theme_id  rid, theme_name name ,COUNT(*) total
        FROM strategy
        GROUP BY theme_id,theme_name
        ORDER BY total desc
    </select>


</mapper>